[submodule "realsense_gazebo_plugin"]
	path = realsense_gazebo_plugin
	url = https://github.com/SgtVincent/realsense_gazebo_plugin.git
[submodule "grasp_detection/src/detectors/anygrasp_sdk"]
	path = grasp_detection/src/detectors/anygrasp_sdk
	url = https://github.com/graspnet/anygrasp_sdk.git
[submodule "moveit_configs/panda_moveit_config"]
	path = moveit_configs/panda_moveit_config
	url = https://github.com/SgtVincent/panda_moveit_config.git
[submodule "moveit_configs/ur5_package"]
	path = moveit_configs/ur5_package
	url = https://github.com/ClangWU/ur5_package.git
[submodule "grasp_detection/src/detectors/GIGA"]
	path = grasp_detection/src/detectors/GIGA
	url = https://github.com/SgtVincent/GIGA.git
