<?xml version="1.0"?>
<launch>
  <arg name="robot_ip" default="176.16.0.2"/>
  <arg name="load_gripper" default="true"/>

  <!-- Launch real-robot control -->
  <include file="$(find franka_control)/launch/franka_control.launch" pass_all_args="true" />

  <!-- By default use joint position controllers -->
  <arg name="transmission" default="position" />
  <!-- Start ROS controllers -->
  <include file="/home/cuite/ws_moveit/src/panda_moveit_config/launch/ros_controllers.launch" pass_all_args="true" />

  <!-- as well as MoveIt demo -->
  <include file="/home/cuite/ws_moveit/src/panda_moveit_config/launch/demo.launch" pass_all_args="true">
    <!-- robot description is loaded by franka_control.launch -->
    <arg name="load_robot_description" value="false" />
    <!-- MoveItSimpleControllerManager provides ros_control's JointTrajectory controllers
         as well as GripperCommand actions -->
    <arg name="moveit_controller_manager" value="simple" />
  </include>

  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="camera1_link_in_hand_broadcaster1"
      args="0 -0 0   -0.00030087 -0.00813746 0.708854 0.705308 world panda_hand" />    -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="camera_link_broadcaster"
      args="0.0656815 -4.04594e-05 0.0562178   0.744231 0.0013108 0.667918 -0.00203622 panda_hand camera_link" />      
</launch>