<launch>
    <!-- run calc_inertia_for_urdf.py script -->
    
    <!-- change this to /path/to/your/catkin_ws -->
    <env name="MESH_WORKSPACE_PATH" value="/home/junting/franka_ws/"/>

    <node name="calc_inertia" pkg="instruct_to_policy" type="calc_inertia_for_urdf.py" output="screen">
        <param name="file_path" value="$(find instruct_to_policy)/models/cabinet_1076/model.sdf"/>
    </node>
</launch>